<div class="show-container">
  <!-- Карусель -->
  <div id="mainCarousel" class="carousel slide full-width-carousel" data-bs-ride="carousel">
    <!-- Индикаторы -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2"></button>
    </div>
    
    <!-- Слайды -->
    <div id="autoCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="15000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/show1.png" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="carousel-item">
          <img src="assets/images/show2.png" class="d-block w-100" alt="Slide 2">
        </div>
        <div class="carousel-item">
          <img src="assets/images/show3.png" class="d-block w-100" alt="Slide 3">
        </div>
      </div>

      <!-- Кнопки управления -->
      <button class="carousel-control-prev" type="button" data-bs-target="#autoCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#autoCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</div>

<div class="shop-container-wrapper">
  <div class="info-container">
    <img src="assets/images/info.png">
  </div>
  
  <div class="shop-container">
    @if (showOnlyCart === true && cartItems.length === 0) {
    <div class="no-results">
      У вас в корзине пока что ничего нет
    </div>
    }
    @if (showOnlyFavorites === true && favorites.length === 0) {
    <div class="no-results">
      У вас в избранном пока что ничего нет
    </div>
    }
    @if (getProductsByType('keyboard').length === 0 && getProductsByType('headphones').length === 0 &&
    getProductsByType('mouse').length === 0 && searchQuery) {
    <div class="no-results">
      Ничего не найдено по запросу "{{ searchQuery }}"
    </div>
    }
    <section class="product-section">
      <h2 style="padding-left: 5px;">Клавиатуры <img src="assets/images/keyboardicon.png"></h2>
      <div class="product-grid">
        @for (product of getProductsByType('keyboard'); track product.id) {
        <div class="product-card">
          @if (product.editing) {
            <div class="edit-form">
              <input [(ngModel)]="product.name" placeholder="Название">
              <input type="number" [(ngModel)]="product.price" placeholder="Цена">
              <select [(ngModel)]="product.type">
                <option value="keyboard">Клавиатура</option>
                <option value="mouse">Мышь</option>
                <option value="headphones">Наушники</option>
              </select>
              <input [(ngModel)]="product.imageUrl" placeholder="URL изображения">
              <label>
                <input type="checkbox" [(ngModel)]="product.isIn"> В наличии
              </label>
              <input type="date" [(ngModel)]="product.releaseDate">
              
              <div class="edit-actions">
                <button (click)="saveChanges(product)" class="save-btn">
                  <img src="assets/images/save.png" alt="Сохранить" class="icon">
                </button>
                <button (click)="cancelEditing(product)" class="cancel-btn">
                  <img src="assets/images/cancel.png" alt="Отмена" class="icon">
                </button>
              </div>
            </div>
          } @else {
            <img [src]="product.imageUrl" [alt]="product.name" style=" width: 340px; height: auto; padding-right: 3%;">
            <h3>{{ product.name }}</h3>
            <p class="price">{{ product.price | currency }}</p>
            <p class="availability" [class.in-stock]="product.isIn">
              {{ product.isIn ? 'В наличии' : 'Нет в наличии' }}
            </p>
            <p class="release-date">
              Дата выхода: {{ product.releaseDate | date:'dd.MM.yyyy' }}
            </p>
            
            <div class="product-actions">
              <button (click)="toggleFavorite(product.id)" [class.active]="isFavorite(product.id)" class="favorite-btn">
                <img src="assets/images/favorite.png" alt="В избранное" class="icon">
              </button>
              <button (click)="toggleCart(product.id)" [class.active]="isInCart(product.id)" class="cart-btn">
                <img src="assets/images/cart.png" alt="В корзину" class="icon">
              </button>
              <button (click)="startEditing(product)" class="edit-btn">
                <img src="assets/images/edit.png" alt="Редактировать" class="icon">
              </button>
              <button class="delete-btn" (click)="deleteProduct(product.id)">
                <img src="assets/images/delete.png" alt="Удалить" class="icon">
              </button>
            </div>
          }
        </div>
        }
      </div>
      @if (showOnlyFavorites === false && showOnlyCart === false){
        <button class="add-product left-align" (click)="addNewProduct('keyboard')">
          <img src="assets/images/add.png" alt="Добавить товар" class="icon">
        </button>
      }
    </section>
    <section class="product-section">
      <h2 style="padding-left: 5px;">Мышки <img src="assets/images/mouseicon.png"></h2>
      <div class="product-grid">
        @for (product of getProductsByType('mouse'); track product.id) {
        <div class="product-card">
          @if (product.editing) {
            <div class="edit-form">
              <input [(ngModel)]="product.name" placeholder="Название">
              <input type="number" [(ngModel)]="product.price" placeholder="Цена">
              <select [(ngModel)]="product.type">
                <option value="keyboard">Клавиатура</option>
                <option value="mouse">Мышь</option>
                <option value="headphones">Наушники</option>
              </select>
              <input [(ngModel)]="product.imageUrl" placeholder="URL изображения">
              <label>
                <input type="checkbox" [(ngModel)]="product.isIn"> В наличии
              </label>
              <input type="date" [(ngModel)]="product.releaseDate">
              
              <div class="edit-actions">
                <button (click)="saveChanges(product)" class="save-btn">
                  <img src="assets/images/save.png" alt="Сохранить" class="icon">
                </button>
                <button (click)="cancelEditing(product)" class="cancel-btn">
                  <img src="assets/images/cancel.png" alt="Отмена" class="icon">
                </button>
              </div>
            </div>
          } @else {
            <img [src]="product.imageUrl || 'assets/images/placeholder.jpg'" [alt]="product.name" style=" width: 270px; height: 270px; padding-left: 17%;">
            <h3>{{ product.name }}</h3>
            <p class="price">{{ product.price | currency }}</p>
            <p class="availability" [class.in-stock]="product.isIn">
              {{ product.isIn ? 'В наличии' : 'Нет в наличии' }}
            </p>
            <p class="release-date">
              Дата выхода: {{ product.releaseDate | date:'dd.MM.yyyy' }}
            </p>
            
            <div class="product-actions">
              <button (click)="toggleFavorite(product.id)" [class.active]="isFavorite(product.id)" class="favorite-btn">
                <img src="assets/images/favorite.png" alt="В избранное" class="icon">
              </button>
              <button (click)="toggleCart(product.id)" [class.active]="isInCart(product.id)" class="cart-btn">
                <img src="assets/images/cart.png" alt="В корзину" class="icon">
              </button>
              <button (click)="startEditing(product)" class="edit-btn">
                <img src="assets/images/edit.png" alt="Редактировать" class="icon">
              </button>
              <button class="delete-btn" (click)="deleteProduct(product.id)">
                <img src="assets/images/delete.png" alt="Удалить" class="icon">
              </button>
            </div>
          }
        </div>
        }
      </div>
      @if (showOnlyFavorites === false && showOnlyCart === false){
        <button class="add-product left-align" (click)="addNewProduct('mouse')">
          <img src="assets/images/add.png" alt="Добавить товар" class="icon">
        </button>
      }
    </section>
    <section class="product-section">
      <h2 style="padding-left: 5px;">Наушники <img src="assets/images/headphonesicon.png"></h2>
      <div class="product-grid">
        @for (product of getProductsByType('headphones'); track product.id) {
        <div class="product-card">
          @if (product.editing) {
            <div class="edit-form">
              <input [(ngModel)]="product.name" placeholder="Название">
              <input type="number" [(ngModel)]="product.price" placeholder="Цена">
              <select [(ngModel)]="product.type">
                <option value="keyboard">Клавиатура</option>
                <option value="mouse">Мышь</option>
                <option value="headphones">Наушники</option>
              </select>
              <input [(ngModel)]="product.imageUrl" placeholder="URL изображения">
              <label>
                <input type="checkbox" [(ngModel)]="product.isIn"> В наличии
              </label>
              <input type="date" [(ngModel)]="product.releaseDate">
              
              <div class="edit-actions">
                <button (click)="saveChanges(product)" class="save-btn">
                  <img src="assets/images/save.png" alt="Сохранить" class="icon">
                </button>
                <button (click)="cancelEditing(product)" class="cancel-btn">
                  <img src="assets/images/cancel.png" alt="Отмена" class="icon">
                </button>
              </div>
            </div>
          } @else {
            <img [src]="product.imageUrl" [alt]="product.name" style=" width: 290px; height: 290px; padding-left: 12%;">
            <h3>{{ product.name }}</h3>
            <p class="price">{{ product.price | currency }}</p>
            <p class="availability" [class.in-stock]="product.isIn">
              {{ product.isIn ? 'В наличии' : 'Нет в наличии' }}
            </p>
            <p class="release-date">
              Дата выхода: {{ product.releaseDate | date:'dd.MM.yyyy' }}
            </p>
            
            <div class="product-actions">
              <button (click)="toggleFavorite(product.id)" [class.active]="isFavorite(product.id)" class="favorite-btn">
                <img src="assets/images/favorite.png" alt="В избранное" class="icon">
              </button>
              <button (click)="toggleCart(product.id)" [class.active]="isInCart(product.id)" class="cart-btn">
                <img src="assets/images/cart.png" alt="В корзину" class="icon">
              </button>
              <button (click)="startEditing(product)" class="edit-btn">
                <img src="assets/images/edit.png" alt="Редактировать" class="icon">
              </button>
              <button class="delete-btn" (click)="deleteProduct(product.id)">
                <img src="assets/images/delete.png" alt="Удалить" class="icon">
              </button>
            </div>
          }
        </div>
        }
      </div>
      @if (showOnlyFavorites === false && showOnlyCart === false){
        <button class="add-product left-align" (click)="addNewProduct('headphones')">
          <img src="assets/images/add.png" alt="Добавить товар" class="icon">
        </button>
      }
    </section>
  </div>
</div>

<div class="end-container">
  <img src="assets/images/end.png">
</div>