<footer class="footer">
    <div class="content">
        <div class = "slogan-container">
            <p>Официальный интернет магазин</p>
            <div class="logo-text-container">
                <p>LOGO-TEXT</p>
                <p>- прчность, проверенная временем</p>
            </div>
            <div class="">

            </div>
        </div>
        <div class="prod">

        </div>
        <div class="about">

        </div>
        <div class="contacts">
            <div class="icon-row">
                <p>vk</p>
                <p>tg</p>
                <p>yt</p>
                <p>tt</p>
            </div>
            <p>addres</p>
            <p>gmail</p>
        </div>
    </div>
    <p>2025 SLIVIO</p>
</footer>
