<footer class="footer">
    <div class="footer-content">

      <div class="footer-left">
        <div class="footer-subtitle-wrapper">
          <p class="footer-subtitle">Официальный интернет-магазин</p>
          <div class="footer-top-line"></div>
        </div>
  
        <div class="footer-brand-heading">
          <img src="assets/images/silv.png" alt="SILVIO Name" class="brand-name-image" />
          <span class="brand-slogan">– прочность, проверенная временем.</span>
        </div>
  
        <div class="footer-logo-description">
          <div class="footer-logo-area">
            <img src="assets/images/logo.png" alt="SILVIO Logo" class="footer-logo" />
          </div>
          <div class="footer-description-text-block">
            <p class="footer-secondary"><b>
              Качественная компьютерная периферия, созданная для работы без компромиссов. Лаконичный дизайн, надёжные компоненты и долговечность в каждой детали.
            </b></p>
            <p class="footer-highlight">SILVIO – техника, которая не подведёт.</p>
          </div>
        </div>
      </div>

      <div class="footer-center">
        <div class="footer-columns">
          <div>
            <h4>ПРОДУКЦИЯ</h4>
            <ul>
              <li>Клавиатуры</li>
              <li>Мыши</li>
              <li>Гарнитуры</li>
            </ul>
          </div>
          <div>
            <h4>О БРЕНДЕ</h4>
            <ul class="footer-brand-links">
              <li>Новости</li>
              <li>Блог</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="footer-right">
        <div class="social-icons">
          <a href="https://vk.com/silvio.brandstore"><img src="assets/images/vk.png" alt="VK" /></a>
          <a href="https://t.me/silvio_brandstore"><img src="assets/images/tg.png" alt="Telegram" /></a>
          <a href="https://www.youtube.com/@silvio.brandstore"><img src="assets/images/yt.png" alt="YouTube" /></a>
          <a href="https://www.tiktok.com/@silvio.brandstore?_t=ZT-8wWAd1fEw2A&_r=1"><img src="assets/images/tt.png" alt="TikTok" /></a>
        </div>
        <p class="footer-address">г. Самара, <br>ул. Московское шоссе</p>
        <p class="footer-email">silvio.brandstore&#64;gmail.com</p>
      </div>
    </div>
  
    <div class="footer-bottom">
        <div class="footer-top-line"></div>
            2025 © SILVIO
    </div>
  </footer>
  
