<div class="main-container">
    <div class="main-content">

        <div class="content-wrapper">
            <div class="image-container">
                <img src="/assets/images/logo_for_about.png" alt="Silvio logo">
            </div>
            <div class="text-content">
                <p>SILVIO – это воплощение минимализма, надежности и утонченного дизайна в  мире компьютерной периферии. Наш бренд создан для тех, кто ценит  лаконичность, качество и эстетику в каждой детали.
                <p>Мы тщательно отбираем материалы, продумываем эргономику и тестируем  каждое устройство, чтобы предложить вам не просто аксессуары, а  безупречные инструменты для работы и творчества.</p>
            </div>
        </div>
        
        <div class="full-width-block">
            <img src="/assets/images/product_silvio.png" alt="Silvio product">
            <div class="overlay-text-left">
                <p style="font-size: 40px;">Чистый дизайн без компромиссов</p>
                <p>Наши продукты – это гармония формы и функционала. Ничего лишнего, только  продуманные линии, приятные тактильные ощущения и долговечные материалы.</p>
                
                <p style="font-size: 40px;">Надежность, проверенная временем</p>
                <p>Каждое устройство SILVIO проходит многоэтапное тестирование на износ, чтобы  гарантировать безупречную работу даже при интенсивном использовании.</p>
            </div>
        </div>

        <div class="text-content-end">
            <div>
                <div class="text-content-end-back1">
                </div>
                <p style="font-size: 45px;">
                    Гарантия без лишних вопросов
                </p>
                <p>
                    Мы уверены в качестве нашей продукции, поэтому предлагаем extended-гарантию и сервисную поддержку.
                </p>
            </div>
            <div>
                <div class="text-content-end-back2"></div>
                <p style="font-size: 45px;">
                    Премиальные материалы
                </p>
                <p>
                    Мы используем только качественные сплавы, матовые покрытия и износостойкие ткани, которые сохраняют безупречный вид годами.
                </p>
            </div>
        </div>

        <div class="end-container">
            <div class="end-container-text">
                <div style="color: rgb(82, 115, 160);">
                    <a style="font-family: 'Orbitron', sans-serif;">SILVIO</a> 
                    <a>– когда простота становится совершенством</a>
                </div>   
            </div>
            <img src="/assets/images/palka.png" alt="Silvio product">
        </div>
    </div>
</div>
