<header class="header">
  <!-- Логотип с ссылкой на главную -->
  <div class="logo-container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <div class="logo-silv">
      <img src="assets\images\SILVIO.png" alt="Silvio">
    </div>
  </div>


  <!-- Навигация -->
  <nav class="nav">
    <a routerLink="/about" class="nav-link">О БРЕНДЕ</a>
  </nav>

  <!-- Поиск -->
<div class="search">
  <div class="input-with-button">
    <input 
      type="text" 
      placeholder="Поиск..." 
      class="input-field"
      (keyup.enter)="onSearch(searchInput.value)" 
      #searchInput
    >
    <button 
      class="input-button" 
      (click)="onSearch(searchInput.value)"
    >
      <img src="assets/images/lupa.png" alt="search">
    </button>
  </div>
</div>

  <!-- Корзина и избранное -->
  <div class="actions">
    <button (click)="openCart()" class="icon-button">
      <img src="assets/images/shop.png" alt = "cart">
    </button>
    <button (click)="toggleFavorites()" class="icon-button">
      <img src="assets/images/chosen.png" alt = "cart">
    </button>
  </div>
</header>