<header class="header">
  <div class="logo-container" [class.active]="isHomeActive()" (click)="goToHomePage()">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <div class="logo-silv">
      <img src="assets\images\SILVIO.png" alt="Silvio">
      <a></a>
    </div>
  </div>
  <nav class="about">
    <a (click)="navigateToAbout()" class="nav-link">О БРЕНДЕ</a>
  </nav>
<div class="search">
  <div class="input-with-button">
    <input 
    type="text" 
    [(ngModel)]="searchQuery" 
    (input)="onSearch()"
    placeholder="Поиск товаров..."
  >
    <button 
      class="input-button" 
      (click)="onSearch()"
    >
      <img src="assets/images/lupa.png" alt="search">
    </button>
  </div>
</div>
<div class="actions">
  <button (click)="toggleCart()" class="icon-button">
    <img src="assets/images/shop.png" alt="cart">
    <span class="badge">{{ cartItemsCount }}</span>
  </button>
  <button (click)="toggleFavorites()" class="icon-button">
    <img src="assets/images/chosen.png" alt="favorites">
    <span class="badge">{{ favoritesCount }}</span>
  </button>
</div>
</header>
